//Colors

$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

// Faire face specific
$ff-orange: #F5792F;
$ff-blue: #00A2E5;
$ff-darkblue: #1b4b9b;
$ff-red: #d9534f;

// We use these as default colors throughout
$primary-color: $ff-orange;;
$secondary-color: $ff-blue;
$alert-color: $ff-red;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;
