<% content_for(:page_title, t('information_bulletin.new_information_bulletin')) %>

<% if @information_bulletin.persisted? %>
  <h1><%= t('information_bulletin.edit_information_bulletin') %></h1>
<% else %>
  <h1><%= t('information_bulletin.new_information_bulletin') %></h1>
<% end %>
  
<%= simple_form_for @information_bulletin do |f| %>
  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.input :image %>
  <%= f.button :submit, t('information_bulletin.submit_add') %>
<% end %>
