<% content_for(:page_title, t('information_bulletin.listing_header')) %>
<h1><%= t('information_bulletin.listing_header') %></h1>

<%= form_tag information_bulletins_path, method: "get" do %>
  <div>
    <%= text_field_tag :desc_or_title, nil, placeholder: t('information_bulletin.search.desc_or_title'),
        type: :search, value: params[:desc_or_title] %>
    <%= submit_tag t('information_bulletin.search.submit'), type: :submit, class: 'button', name: nil %>
  </div>
<% end %>

<ul class="tiles small-block-grid-1 medium-block-grid-2 large-block-grid-3">
  <% @information_bulletins.each do |elem| %>
    <li>
      <a href="<%= information_bulletin_path(elem) %>">
        <strong><%= elem.title %></strong>
        <% unless elem.image_file_name.nil? %>
          <%= image_tag elem.image.url(:thumb) %>
        <% end %>
        <p>
          <%= elem.body %>
        </p>
      </a>
    </li>
  <% end%>
</ul>

<div>
  <%= will_paginate @information_bulletins, :previous_label => '«', :next_label => '»', class: 'pagination' %>
</div>

<% if current_user && current_user.is_admin? %>
  <%= link_to t('information_bulletin.new_information_bulletin'), new_information_bulletin_path, class: 'button' %>
<% end %>
