<h1><%= @information_bulletin.title%></h1>

<% unless @information_bulletin.image_file_name.nil? %>
  <%= image_tag @information_bulletin.image.url(:medium), class: 'right-large-up' %>
<% end %>

<p>
  <%= @information_bulletin.body %>
</p>

<div>
  <%= link_to t('back'), information_bulletins_path, class: 'button' %>
  <%if current_user && current_user.is_admin? %>
      <%= link_to t('actions.modify'),
        edit_information_bulletin_path(@information_bulletin), class: 'button'  %>
      <%= link_to t('actions.delete'), information_bulletin_path(@information_bulletin),
        method: :delete,
        data: { confirm: t('actions.delete_confirm', title: @information_bulletin.title) }, class: 'button alert' %>
  <%end%>
</div>
