<% content_for(:page_title, t('emergencies.new')) %>

<% if @emergencies.persisted? %>
  <h1><%= t('emergencies.edit') %></h1>
<% else %>
  <h1><%= t('emergencies.new') %></h1>
<% end %>
  
<%= simple_form_for @emergencies do |f| %>
  <%= f.input :organization %>
  <%= f.input :phone %>
  <%= f.input :web_site,:placeholder => "inclure le protocole complet http://" %>
  <%= f.button :submit, t('information_bulletin.submit_add') %>
<% end %>
