<% content_for(:page_title, t('emergencies.listing_header')) %>
<h1><%= t('emergencies.listing_header') %></h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t('activerecord.attributes.emergency.organization') %></th>
      <th scope="col"><%= t('activerecord.attributes.emergency.phone') %></th>
      <th scope="col"><%= t('activerecord.attributes.emergency.web_site') %></th>
      <%if current_user && current_user.is_admin? %>
        <th scope="col"><%= t('actions.title') %></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @emergencies.each do |emergency| %>
      <tr>
        <td><%= emergency.organization %></td>
        <td><%= emergency.phone %></td>
        <td><%= link_to emergency.web_site, emergency.web_site, :target => "_blank" %></td>
        <%if current_user && current_user.is_admin? %>
          <td>
            <%= link_to t('actions.modify'),
              edit_emergency_path(emergency) %>
            <%= link_to t('actions.delete'), emergency_path(emergency),
              method: :delete,
              data: { confirm: t('actions.delete_confirm', title: emergency.organization) } %>
          </td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<% if (current_user && current_user.is_admin?) %>
  <%= link_to new_emergency_path(back_page: params[:page]), :class => "button" do %>
    <%= t('emergencies.new') %>
  <% end %>
<% end %>
