<% content_for(:page_title, t('emergencyplan.listing_header')) %>
<h1><%= t('emergencyplan.listing_header') %></h1>
<p><%= t('emergencyplan.content.paragraphs.firstp') %></p>
<ul>
  <li><%= t('emergencyplan.content.list.firstitem') %></li>
  <li><%= t('emergencyplan.content.list.seconditem') %></li>
  <li><%= t('emergencyplan.content.list.thirditem') %></li>
  <li><%= t('emergencyplan.content.list.fourthitem') %></li>
</ul>
<p><%= t('emergencyplan.content.paragraphs.secondp') %></p>

<div class="emergency-plan"></div>