<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Faire Face - Ville De Québec</title>
  </head>
  <body>
    <h1>Plan d'urgence</h1>
    <p>
      Une bonne préparation aux situations d'urgence peut faire toute la différence pour le bien être et la sécurité de vos proches.
    <p>
    <h2>Membres de votre famille</h2>
    <% @members.each do |m| %>
      <div>
        <strong><%= m[:name] %></strong> <br />
        Date de naissance: <%= m[:birth] %><br />
        Téléphone: <%= m[:phone] %><br />
        Cellulaire: <%= m[:cell] %><br />
        Email: <%= m[:email] %><br />
        Information médicale importante: <%= m[:info] %><br />
        Lieu fréquenté <%= m[:place] %><br />
        Adresse <%= m[:address] %><br />
      </div>
    <% end %>

    <h2>Personnes ressources</h2>
    <% @res.each do |r| %>
      <div>
        <strong><%= r[:name] %></strong> <br />
        Téléphone: <%= r[:phone] %><br />
        Cellulaire: <%= r[:cell] %><br />
        Email: <%= r[:email] %><br />
      </div>
    <% end %>

    <h2>Votre maison</h2>
    <p>Notez l'emplacement des appareils suivants et expliquez leur fonctionnement aux membres de votre famille</p>
    Extincteur: <%= params[:extincteur] %> <br />
    Robinet d'entrée d'eau : <%= params[:robinet] %><br />
    Boîte de disjoncteurs: <%= params[:disjonc] %><br />
    Robinet de gaz: <%= params[:gaz] %><br />
    Drain de sol: <%= params[:drain] %><br />

    <h2>Numéros importants</h2>
    <ul>
      <li>Urgence: 911</li>
      <li>Info-santé: 811</li>
      <li>Centre antipoison de Québec: 1 800 463-5060</li>
      <li>Hydro-Québec: 1 800 790-2424</li>
      <li>Gaz métro: 1 800 361-8003</li>
      <li>Arrondissement: <%= params[:arrond] %></li>
      <li>Clinique médicale: <%= params[:clin] %></li>
      <li>Pharmacie: <%= params[:phar] %></li>
      <li>Vétérinaire: <%= params[:vet] %></li>
    </ul>

    <h3>Assurance habitation</h3>
    <%= params[:assur] %> <br/>
    No de police: <%= params[:nopolice] %> <br />
    Téléphone <%= params[:assurtel] %>

    <h2>Lieux de rassemblement</h2>
    <h3>Dans le quartier</h3>
    <%= params[:lqnom] %> <% if params[:lqphone ].length > 0 %> (<%= params[:lqphone] %>) <% end %>
    <h3>Hors du quartier</h3>
    <%= params[:lhnom] %> <% if params[:lhphone ].length > 0 %> (<%= params[:lhphone] %>) <% end %>
  </body>
</html>
