<div class="home">
<h1>Faire Face Accueil</h1>
  <div class="row button_margin">
    <%= button_to new_sinister_path,
      :class => "btn btn-danger btn-md col-md-2", :method => :get do %>
      <span class="glyphicon glyphicon-plus"></span>
      <%= t('sinister.new_sinister') %>   
    <% end %>

    <% if (current_user && current_user.is_admin?) %>
      <%= button_to new_news_path,
        :class => "btn btn-primary btn-md col-md-2",:method => :get do %>
        <span class="glyphicon glyphicon-plus"></span>
        <%= t('new.new_new') %>
      <% end %>
    <% end %>
  </div>

<div class="row">
  <% @sinisters.each do |sinister| %>  
      <div class="col-md-4 home-card">
        <h2><%=sinister.title%></h2>
        <% unless sinister.image_file_name.nil? %>
          <%= image_tag sinister.image.url(:small) %>
        <% end %>
        <p><%= sinister.description%></p>
        <br />
        <%= button_to "Details", sinister_path(id: sinister.id), :class => "button", :method => :get %>
        </div>
  <% end %>
</div>
</div>
