<% content_for(:page_title, t('new.new_new')) %>

<% if @new.persisted? %>
  <h1><%= t('new.edit_new') %></h1>
<% else %>
  <h1><%= t('new.new_new') %></h1>
<% end %>

<%= simple_form_for @new, :url => (@new.new_record? ? news_index_path : news_path(@new)) do |f| %>
  <%= f.input :title %>
  <%= f.input :description, :input_html => {:rows => 15} %>
  <%= f.button :submit, t('actions.submit_add') %>
<% end %>
