<!-- Add this style so it only applies to web users and not mobile ones -->
<style type="text/css" media="screen">

.action_links {
   visibility: hidden;
}

.hoverDiv:hover .action_links {
   visibility: visible;
} 

</style> 

<% content_for(:page_title, t('new.listing_header')) %>
<h1><%= t('new.listing_header') %></h1>

<ul class="tiles small-block-grid-1 medium-block-grid-2 large-block-grid-3">
  <% @news.each do |news| %>
    <li>
      <a href="<%= news_path(news, :back_page => params[:page]) %>">
        <strong><%= news.title %></strong>
        <p>
          <%= news.cropped_description %>
        </p>
      </a>
    </li>
  <% end%>
</ul>

<div>
  <%= will_paginate @news, :previous_label => '«', :next_label => '»', class: 'pagination' %>
</div>

<% if (current_user && current_user.is_admin?) %>
  <%= link_to new_news_path(back_page: params[:page]), :class => "button" do %>
    <%= t('new.new_new') %>
  <% end %>
<% end %>
