
<h1><%= @new.title%></h1>
<p><%= @new.description.gsub(/\n/, '<br />').html_safe %></p>
<p class="author_signature">Auteur: <%= @new.user.name %></p>

<div>
  <%= link_to news_index_path, params: { page: params.has_key?(:back_page) ? params[:back_page] : 1 }, 
                :class => "button" do %>
    <%= t('back') %>
  <% end %>
  <%if current_user && current_user.is_admin? %>
      <%= link_to t('actions.modify'),
        edit_news_path(@new), class: 'button'  %>
      <%= link_to t('actions.delete'), news_path(@new),
        method: :delete,
        data: { confirm: t('actions.delete_confirm', title: @new.title) }, class: 'button alert' %>
  <%end%>
</div>
