<% content_for(:page_title, t('sinister.new_sinister')) %>

<% if @sinister.persisted? %>
  <h1><%= t('sinister.edit_sinister') %></h1>
<% else %>
  <h1><%= t('sinister.new_sinister') %></h1>
<% end %>
  
<%= simple_form_for @sinister do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :category_id, label: t('sinister.form.category_label'), collection: Category.all,
              prompt: t('sinister.form.select_category_prompt') %>
  <%= f.input :sinister_date, as: :datetime, value: Date.today %>
  <%= f.input :image %>
  <% if @sinister.longitude %>
    <%= f.input :longitude %>
    <%= f.input :latitude %>
  <% else %>
    <div class="geolocation-component"></div>
  <% end %>
  <%= f.button :submit, t('actions.submit_add') %>
<% end %>
