<% content_for(:page_title, t('sinister.listing_header')) %>
<h1><%= t('sinister.listing_header') %></h1>

<%= form_tag sinisters_path, method: "get" do %>
  <div>
    <%= text_field_tag :desc_or_title, nil, placeholder: t('sinister.search.desc_or_title'),
        type: :search, value: params[:desc_or_title] %>
    <%= submit_tag t('sinister.search.submit'), type: :submit, class: 'button', name: nil %>
  </div>
<% end %>

<ul class="tiles small-block-grid-1 medium-block-grid-2 large-block-grid-3">
  <% @sinisters.each do |sinister| %>
    <li>
      <a href="<%= sinister_path(sinister) %>">
        <strong><%= sinister.title %></strong>
        <% unless sinister.image_file_name.nil? %>
          <%= image_tag sinister.image.url(:thumb) %>
        <% end %>
        <time datetime="<%= sinister.sinister_date.utc.iso8601 %>"><%= l sinister.sinister_date, format: :short%></time>
        <p>
          <%= sinister.description %>
        </p>
      </a>
    </li>
  <% end%>
</ul>

<div>
  <%= will_paginate @sinisters, :previous_label => '«', :next_label => '»', class: 'pagination' %>
</div>

<%= link_to t('sinister.new_sinister'), new_sinister_path, class: 'button' %>
