<h1><%= @sinister.title%></h1>

<% unless @sinister.image_file_name.nil? %>
    <%= image_tag @sinister.image.url(:medium), class: 'right-large-up' %>
<% end %>

<dl>
  <dt><%= t('activerecord.attributes.sinister.sinister_date')%></dt>
  <dd><time datetime="<%= @sinister.sinister_date.utc.iso8601 %>"><%= l @sinister.sinister_date, format: :long %></time></dd>
  <dt><%= t('activerecord.attributes.sinister.user_name')%></dt>
  <dd>
    <%= @sinister.user.name if @sinister.user_id %>
    <%= t('activerecord.attributes.sinister.user_anonymous') if !@sinister.user_id %>
  </dd>
</dl>

<p>
  <%= @sinister.description %>
</p>

<p>
  <a target="_blank" href="<%= "http://maps.google.com/maps?z=12&t=m&q=loc:#{@sinister.longitude}+#{@sinister.latitude}" %>" >Voir sur la carte</a>
</p>


<table class="table">
  <h2>
    Alertes diffusées pour ce sinistre
  </h2>
  <thead>
    <tr>
      <th scope="col"><%= t('activerecord.attributes.alert.title') %></th>
      <th scope="col"><%= t('activerecord.attributes.alert.message') %></th>
      <th scope="col"><%= t('activerecord.attributes.alert.publication_date') %></th> 
      <% if current_user && current_user.is_admin? %>
        <th scope="col"><%= t('alert.is_published') %></th> 
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @sinister.alerts.each do |alert| %>
      <tr>
        <td><%= alert.title %></td>
        <td><%= alert.message %></td>
        <td><time datetime="<%= alert.publication_date.utc.iso8601 %>"><%= l alert.publication_date, format: :short %></time></td>
        <% if current_user && current_user.is_admin? %>
          <td><%= alert.published_at.nil? ? t('table_no') : t('table_yes') %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to t('back'), sinisters_path, class: 'button' %>
  <%if current_user && current_user.is_admin? %>
      <%= link_to t('actions.modify'),
        edit_sinister_path(@sinister), class: 'button'  %>
      <%= link_to t('actions.approve'), sinister_approve_path(@sinister), class: 'button', method: :patch unless @sinister.approved? %>
      <%= link_to t('actions.unapprove'), sinister_unapprove_path(@sinister), method: :patch, class: 'button'if @sinister.approved? %>
      <%= link_to 'Créer une alerte', new_sinister_alert_path(@sinister), class: 'button' %>
      <%= link_to t('actions.delete'), sinister_path(@sinister),
        method: :delete,
        data: { confirm: t('actions.delete_confirm', title: @sinister.title) }, class: 'button alert' %>
  <%end%>
</div>
