<h1>Profil utilisateur</h1>

<p><%= t('profile.name') + @user.name %></p>
<p><%= t('profile.email') + @user.email %></p>

<%= form_for(@user, :url => profile_path, :method => :patch) do |f| %>
  <div>
    <%= f.label :name, t('profile.form.name_label') %>
    <%= f.text_field :name,
      placeholder: t('profile.form.name_placeholder')%>
  </div>

  <div>
    <%= f.label :phone_number, 'Numéro de téléphone'  %>
    <%= f.text_field :phone_number %>
  </div>

  <div>
    <%= f.label :is_subscribe_mail_alert, t('profile.form.mail_alert_label') %>
    <%= f.check_box :is_subscribe_mail_alert%>
  </div>

  <div>
    <%= f.label :is_subscribe_phone_alert, t('profile.form.phone_alert_label') %>
    <%= f.check_box :is_subscribe_phone_alert%>
  </div>

  <div class="actions">
    <%= link_to t('back').html_safe, root_path, class: 'button' %>
    <button type="submit">Modifier</button>
    <%= link_to t('profile.delete') , profile_path, method: "delete", class: 'button alert',
        data: { confirm: 'Voulez-vous vraiment supprimer votre profil?' } %>
  </div>
<% end %>
