<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @alert.title %></h1>
    <p>
      <%= @alert.message %>
    </p>
    <p>
      <a href="<%= sinister_url(@alert.sinister) %>">Plus d'informations</a>
    </p>
  </body>
</html>
