<% content_for(:page_title, t('sinister.new_alert')) %>

<% if @alert.persisted? %>
  <h1><%= t('alert.edit') %></h1>
<% else %>
  <h1><%= t('alert.new') %></h1>
<% end %>
  
<%= simple_form_for [@alert.sinister, @alert] do |f| %>
  <%= f.input :title %>
  <%= f.input :publication_date %>
  <%= f.input :message %>
  <%= f.button :submit, t('sinister.submit_add') %>
<% end %>
