// Forms 

@import "../config/_colors";

select.datetime {
  &:first-of-type {
    width: 5%;
  }

  &:nth-of-type(2) {
    width: 10%;
  }

  &:nth-of-type(3) {
    width: 7%;
  }

  &:nth-of-type(4) {
    width: 5%;
  }

  &:nth-of-type(5) {
    width: 5%;
  }
}
