// Logo

@import "../config/_colors";

// FaireFace logo

.navbar-brand {
  padding-left: 0 !important;
}

.navbar-brand > span {
  background-color: $ff-orange;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;

  .faire {
    color: black;
  }

  .face {
    font-style: italic;
    padding-right: 5px;
  }
}
