// Tiles

@import "../config/_colors";

.tiles li {
  padding: 1rem;
}

.tiles li > a {
  display: block;
  color: $black;
  background-color: rgba($ff-blue, 0.05);
  padding: 1rem;

  &:hover {
    background-color: rgba($ff-blue, 0.5);
  }

  strong {
    display: inline-block;
    width: 100%;
  }

  img {
    float: right;
    margin: 1rem;
  }

  time { color: $ff-orange; }
}
