$brand-primary:             #F5792F;
$brand-second:              #fff;
$brand-blue:                #00549f;
$brand-blue:                #00A2E5;
$brand-dark-blue:           darken($brand-blue, 10%);
$brand-dark-blue:           #1b4b9b;
$brand-success:             $brand-primary;
$brand-gray:                #999999;
$brand-light-gray:          lighten($brand-gray, 10%);
$brand-lightest-gray:       lighten($brand-gray, 20%);

$navbar-inverse-bg:         $brand-blue;
$navbar-inverse-color:      $brand-second;
$navbar-inverse-link-color: $navbar-inverse-color;

$btn-success-color:         $brand-second;
$btn-success-bg:            $brand-success;
$headings-color:            $brand-primary;
