//
// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the bottom of the
// compiled file so the styles you add here take precedence over styles defined in any styles
// defined in the other CSS/SCSS files in this directory. It is generally better to create a new
// file per style scope.
//
//= require_tree .
//= require_self

@import "foundation_and_overrides";
@import "components/_logo";
@import "components/_tiles";
@import "components/_layout";

@media #{$large-up} {
  .right-large-up {
    float: right;
  }
}

.home {
    width: 95%;
    margin: 0 auto;
}
.home-card {
    img {float: right;}
}

footer {
    text-align: center;
}
