@import '_bootstrap-variables';

.autocomplete-items{
  display: none;
  z-index: 1000;
  position: absolute;
  background-color: $brand-gray;
  max-height: 200px;
  overflow: auto;

  &.autocomplete-dropdown-active {
    display: block;
  }
}

.autocomplete-item {
  background-color: $brand-light-gray;
  padding: 5px;
  margin: 5px;
  cursor: pointer;

  &:hover {
    background-color: $brand-lightest-gray;
  }
}
